<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Клиенты</title>
</head>

<body>
<h4>Список клиентов</h4>
<table style="width: 400px">
    <thead>
        <tr>
            <td style="width: 50px">Id</td>
            <td style="width: 150px">Имя</td>
            <td style="width: 100px">Адрес</td>
            <td style="width: 100px">Телефон</td>
        </tr>
    </thead>
    <tbody>
        <#list clients as client>
            <tr>
                <td>${client.id}</td>
                <td>${client.name}</td>
                <td>${client.address}</td>
                <#list client.phones as phone>
                <td>${phone}</td>
                </#list>
            </tr>
        </#list>
    </tbody>
</table>
</body>
</html>
